<template name="dashboard">
  <div class="template-dashboard">
    <div class="page-header">
      <h1 style="direction:rtl">רשימת שיעורים</h1>
    </div>
    {{#unless isLocked}}
    <ul class="list-group">
      {{#each listLessons}}
        <li right class="list-group-item"><a href="{{pathFor 'lesson' _id}}">{{subject}} <span fl class="label label-default">{{ ln }}</span></a></li>
      {{/each}}
    </ul>
    {{else}}
    <img rtl src="images/403.jpg" alt="גישה לא מאושרת" title="גישה לא מאושרת" style="height:100%;width:100%;"/>
    {{/unless}}
  </div>
</template>
